<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<div class="container-teams">
  <% @teams.each do |team| %>
  <div class="card-team">
  <%= image_tag team.logo.url, alt: "imagen", style:"width:100%" %>
    <div class="text">
      <h2><%=team.name%></h2>
       <h3>Capitan: <%=Player.find(team.capitan).first_name%></h3>          
       <%= link_to 'Show', team, class: "show" %>
    </div>
    </div>
    <% end %>  
</div>
<%= link_to 'New Team', new_team_path %>

