<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>

    <tr>
      <th>Nombre del equipo</th>
      <th>Nommbre del capitan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%=team.name%></td>
        <td><%=Player.find(team.capitan).first_name%></td>
        <td><%= link_to 'Show', team %></td>
        <%if current_player.id.to_s == team.capitan%>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
