<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1 id='nombre/team'>Equipo <%= @team.name%></h1>
<br />
<h3>Lista de jugadores</h3>

<%if current_player.id.to_s == @team.capitan%>
<%= link_to 'Agregar jugador',new_teamplayer_path(team:@team), class: "btn" %>
<%end%>

<div class="container-teams">
<% Teamplayer.all.collect do |player| %>
 <% if player.team_id ==  @team.id.to_s %>
  	<div class="card" style="background:url(<%= Player.find(player.player_id).avatar.url %>) bottom left no-repeat">
      <div class="flip">
        <div class="tile front">
          <div class="tile outside" style="background:url(<%= Player.find(player.player_id).avatar.url %>) bottom left no-repeat">
          </div>
          <div class="tile inside">
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black"><%= Player.find(player.player_id).first_name %></button>
          </div>
        </div>
        <div class="tile in-bottom">
        <p><%= Player.find(player.player_id).position %></p>
        </div>
    </div>
  </div>
  <div id='id01' class="w3-modal" >
    <div  class="w3-modal-content w3-animate-top w3-card-4">
      <div class="profile-card">
        <%= image_tag Player.find(player.player_id).avatar.url, alt: "nombre", style:"width:100%" %>
        <div class="profile-container">
          <h1><%= Player.find(player.player_id).first_name %> <%= Player.find(player.player_id).last_name %></h1>
          <p class="profile-position"><%= Player.find(player.player_id).position %><%= player.id %></p>
          <p class="profile-position"><%= @team.name %></p>
          <p>Edad: <%= Date.today.year- Player.find(player.player_id).birthday.year.to_i %></p>
        </div>
    </div>
  </div>
  </div>
  <% end %>
  <% end %>


  <script>
// Get the modal
// var modal = document.getElementById('id01');

// // When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//     if (event.target == modal) {
//         modal.style.display = "none";
//     }
// }
</script>
</div>
<%= link_to 'Volver', teams_path, style:"text-align:center;", class: "btn" %>
