<p id="notice"><%= notice %></p>
<h2>Equipo <%= @team.name%></h2>
<br />
<h3>Lista de jugadores</h3>
<%if current_player.id.to_s == @team.capitan%>
<%= link_to 'Agregar jugador',new_teamplayer_path(team:@team) %>
<%end%>


<div class="container-teams">
<% Teamplayer.all.collect do |player| %>
 <% if player.team_id ==  @team.id.to_s %>
  	<div class="card">
      <div class="flip">
        <div class="tile front">  
          <div class="tile outside">
          </div>
          <div class="tile inside">
            <p><%= Player.find(player.player_id).first_name %></p>
          </div>
        </div>
        <div class="tile in-bottom">
        <p><%= Player.find(player.player_id).position %></p>
        </div>
    </div>
  </div>
  <% end %> 
  <% end %>  
</div>
<%= link_to 'Volver', teams_path %>
