<p id="notice"><%= notice %></p>
<table>
<thead>
<tr>
    <th>Nombre de jugador</th>
    <th>Posicion</th>
    <th colspan="1"></th>
</tr>
  </thead>

  <tbody>

<% Teamplayer.all.collect do |player| %>
  <% if player.team_id ==  @team.id.to_s %>
    <tr>
        <td><%= Player.find(player.player_id).first_name %></td>
        <td><%= Player.find(player.player_id).position %></td>
        <%if current_player.id.to_s == @team.capitan%>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
    </tr>
  <%end%>
<%end%>



</tbody>
</table>
<%if current_player.id.to_s == @team.capitan%>
<%= link_to 'Agregar jugador',new_teamplayer_path(team:@team) %>
<%end%>
<%= link_to 'Volver', teams_path %>
