
<div id="home">
  <h1>Welcome to champions liga</h1>
</div>
  <%if !session.key?(:user_id) %>

  <ul class="home-list">
    <li><%= link_to 'Login', new_sessions_path %></li>
    <li><%= link_to 'Sign up as player', new_player_path %></li>
    <li><%= link_to 'Visitor'%></li>
  </ul>
  <%else%>
  <div class="tab city">
    <button class="tablinks defaultOpen" data-tab="teams" >Teams</button>
    <button class="tablinks" data-tab="tournaments" >Tournaments</button>

  </div>
    <div class="teams tabcontent">
    <ol>
      <%= render "teams/team"%>
    </ol>
    </div>
    <div class="tournaments tabcontent">
    <ol>
      <%= render "tournaments/tournament"%>
    </ol>
    </div>
  <%end%>
