<h1>Login with yours credentials</h1>
<div>
  <%= form_for :session, url: sessions_path do |f| %>
    <div class="field">
      <%= f.label :mail %>
      <%= f.text_field :mail %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit 'Login' %>
    </div>
  <% end %>
</div>
