<%= form_for(tournamentteam) do |f| %>
  <% if tournamentteam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournamentteam.errors.count, "error") %> prohibited this tournamentteam from being saved:</h2>

      <ul>
      <% tournamentteam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :team_id%>
    <%= f.select :team_id, Team.all.collect {|x| [x.name, x.id]} %> </br>
  </div>
  ####No colocar el torneo ####
  <div class="field">
    <%= f.label :tournament_id%>
    <%= f.select :tournament_id, Tournament.all.collect {|x| [x.name, x.id]} %> </br>
  </div>

  ####No colocar el torneo ####
  <div class="actions">
    <%= f.submit 'Agregar Equipo'%>

  </div>
<% end %>
