<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @organizer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @organizer.last_name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @organizer.mail %>
</p>

<p>
  <strong>Password:</strong>
  <%= @organizer.password %>
</p>

<%= link_to 'Edit', edit_organizer_path(@organizer) %> |
<%= link_to 'Back', organizers_path %>
