<%= form_for(tournament) do |f| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, required: true%>
    </div>

    <div class="field">
      <%= f.label :bases %>
      <%= f.text_field :bases %>
    </div>

    <div class="field">
      <%= f.label :place %>
      <%= f.text_field :place, required: true %>
    </div>
      <%=f.hidden_field :organizer, value:current_player.id%>
    <div class="field">

      <%= f.label 'Numero de equipos'%>
      <%=f.text_field :number_team,required: true%>

    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
