<p id="notice"><%= notice %></p>

<h1>Torneos</h1>

<table class="flat-table">
  <thead>

    <tr>
      <th>Nombre del torneo</th>
      <th>Lugar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%=tournament.name%></td>
        <td><%=tournament.place%></td>
        <td><%= link_to 'Mostrar', tournament %></td>
        <%if tournament.organizer.to_s == current_player.id.to_s%>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

  <% if current_player.is_organizer %>
    <%= link_to 'New Tournament', new_tournament_path %>
  <%end%>

<br>
