<h1 id='nombre'> <%= @tournament.name%></h1>
<%= link_to "Solicitar ingresar", new_tournamentteam_path(solicitar:true,tournament:@tournament.id), class: "btn", style: "float:right"%>

<span>
<% if @tournament.organizer.to_i == current_player.id%>
<%= link_to 'Agregar equipo',new_tournamentteam_path(tournament:@tournament), class: "btn", style: "float:right" %>
<%end%>
<%= link_to "Ver fechas", matches_path(tournament:@tournament.id), class: "btn", style: "float:right"%>
</span>


<div class="tabs">
  <input type="radio" name="tabs" id="tabone" checked="checked">
  <label for="tabone">Tabla</label>
  <div class="tab">
    <%= render "table_position"%>
  </div>

  <input type="radio" name="tabs" id="tabtwo">
  <label for="tabtwo">Equipos</label>
  <div class="tab">
    <%= render "equipos"%>
  </div>

  <input type="radio" name="tabs" id="tabthree">
  <label for="tabthree">Estadisticas</label>
  <div class="tab">
    <%= render "estadisticas"%>
  </div>
</div>
<%= link_to 'Volver', tournaments_path, class: "btn" %>
