<h1> <%= @tournament.name%></h1>

<%= link_to "Ver fechas", matches_path(tournament:@tournament.id)%>

<table>
<thead>
<tr>
    <th>Nombre Equipo</th>
    <th>Nombre capitan</th>
    <th colspan="1"></th>
</tr>
  </thead>

  <tbody>

<% Tournamentteam.all.collect do |team| %>
  <% if team.tournament_id ==  @tournament.id.to_s %>
    <tr>
        <%if Team.exists?(team.team_id) && Team.exists?(team.team_id)%>
        <td><%= Team.find(team.team_id).name %></td>
        <td><%= Player.find(Team.find(team.team_id).capitan).first_name%></td>
        <td><%= link_to 'Show' ,team_path(team.team_id)%></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  <%end%>
  <%end%>
<%end%>



</tbody>
</table>
<%= link_to 'Agregar equipo',new_tournamentteam_path(tournament:@tournament) %> |
<%= link_to 'Volver', tournament_path %>
