<p id="notice"><%= notice %></p>

<table>
<thead>
<tr>
    <th>Nombre Equipo</th>
    <th>Nombre capitan</th>
    <th colspan="1"></th>
</tr>
  </thead>

  <tbody>

<% Tournamentteam.all.collect do |team| %>
  <% if team.tournament_id ==  @tournament.id.to_s %>
    <tr>
        <td><%= Team.find(team.team_id).name %></td>
        <td><%= Team.find(team.team_id).capitan%></td>
        <td><%= link_to 'Show' , team, method: :show%></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  <%end%>
<%end%>



</tbody>
</table>
<%= link_to 'Agregar equipo',new_tournamentteam_path(tournament:@tournament) %> |
<%= link_to 'Volver', tournament_path %>
