<h1 id='nombre'><%= Tournament.find(params[:tournament]).name %></h1>
<br/>
<h2> Goleadores</h2>
<td>
  <div>
<table class="flat-table">
  <thead>
    <tr>
      <th>Jugador</th>
      <th>Cantidad de goles </th>
  </thead>
  <tbody>
    <% goleadores = {}%>
    <%Event.all.order(:goals).collect do |event|%>
      <% if Match.exists?(id:event.match_id)%>
      <% if Match.find(event.match_id).tournament_id == params[:tournament] %>
          <% if !goleadores.key?(event.player_id) && event.goals != 0%>
          <% goleadores[event.player_id] = event.goals%>
          <%elsif event.goals != 0%>
          <% goleadores[event.player_id] = goleadores[event.player_id] + event.goals %>
          <%end%>
      <%end%>
      <%end%>
    <%end%>
    <% goleadores.each do |player,goleador| %>
        <tr>
        <td><%= Player.find(player).first_name%></td>
        <td><%= goleador %></td>
        </tr>
    <%end%>
  </tbody>
</table>
</div>
</td>

<br/>
<h2> Amonestaciones </h2>

<td>
  <div>
    <table class="flat-table">
      <thead>
        <tr>
          <th>Jugador</th>
          <th>Tarjetas amarillas </th>
          <th>Tarjetas Rojas </th>
      </thead>
      <tbody>
        <% amarillas = {}%>
        <% rojas = {}%>
        <% Event.all.collect do |event| %>
          <% if Match.exists?(id:event.match_id)%>
          <% if Match.find(event.match_id).tournament_id == params[:tournament] %>
              <% if !amarillas.key?(event.player_id) && event.yellow_cards != 0%>
              <% amarillas[event.player_id] = event.yellow_cards%>
              <%elsif event.yellow_cards != 0%>
              <% amarilas[event.player_id] = amarilas[event.player_id] + event.yellow_cards %>
              <%end%>
              <% if !rojas.key?(event.player_id) && event.red_cards != 0%>
              <% rojas[event.player_id] = event.red_cards%>
              <%elsif event.red_cards != 0%>
              <% rojas[event.player_id] = rojas[event.player_id] + event.red_cards %>
              <%end%>
          <%end%>
          <%end%>
        <%end%>
        <% amarillas.each do |player,tarjeta| %>
            <tr>
            <td><%= Player.find(player).first_name%></td>
            <td><%=tarjeta %></td>
            <% if rojas.key?(player)%>
            <td><%rojas[player]%></td>
            <%else%>
            <td>0</td>
            <%end%>


          </tr>

        <%end%>
        </tbody>
</table>
</div>
</td>
<<<<<<< HEAD
<%= render 'table_position' %>
<td><%= link_to "volver", tournament_path(params[:tournament])%></td>
=======
<td><%= link_to "Volver", tournament_path(params[:tournament]), class:"btn" %></td>
>>>>>>> 7bf1fa91f1bc6d842fcf1aafb9e12d1473cb3f0c
