<h1>Welcome to Champions Liga</h1>
<% if current_player || current_organizer%>
  <p>Welcome <%=link_to current_player.first_name, current_player%></p>
  <p><%= link_to logout_path %></p>

<% else %>
  <p><%= link_to 'Sign up as player', new_player_path %></p>
  <p><%= link_to 'Sign up as organizer', new_organizer_path%></p>
  <p><%= link_to 'Login', new_sessions_path %></p>
<%end%>
