<table id='tabla'>
  <thead>

    <tr>
      <th>Nombre del torneo</th>
      <th>Fecha</th>
      <th colspan="1"></th>
      <th>Equipo local</th>
      <th>Equipo visitante</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% Teamplayer.where('player_id = ?', current_player.id.to_s).collect do |team| %>

    <% Result.where('local = ? OR visitor = ?',team.team_id,team.team_id) do |result| %>
      <tr>
        <td><%=tournament.name%></td>
        <td><%=tournament.place%></td>
        <td><%= Team.find(team.team_id).name%></td>
        <td><%= link_to 'Show', tournament %></td>
        <%if tournament.organizer.to_s == current_player.id.to_s%>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>

      </tr>
      <%end%>
    <% end %>
    <%end%>
  </tbody>
</table>
