<table id='tabla'>
  <thead>

    <tr>
      <th>Nombre del torneo</th>
      <th>Fecha</th>
      <th colspan="1"></th>
      <th>Equipo local</th>
      <th>Equipo visitante</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% Teamplayer.where('player_id = ?', current_player.id.to_s ).collect do |team| %>

      <% Match.where('local = ? OR visitor = ?',team.team_id,team.team_id).collect do |match| %>
        <tr>
        <td><%=Tournament.find(match.tournament_id).name%></td>
        <td><%=match.date%></td>
        <%if Result.exists?(match_id:match.id)%>
        <td><%=Result.find(match.id).local%></td>
        <%else%>
        <td>-</td>
        <%end%>
        <td><%=Team.find(match.local).name%></td>
        <td><%=Team.find(match.visitor).name%></td>
        <%if Result.exists?(match_id:match.id)%>
        <td><%=Result.find(match.id).visitor%></td>
        <%else%>
        <td>-</td>
        <%end%>


      </tr>
      <%end%>
      <%end%>


  </tbody>
</table>
