<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :player_id%>
    <%= f.select :player_id, (Teamplayer.where('team_id = ?',params[:local]) +Teamplayer.where('team_id = ?',params[:visitor])).collect  {|player| [Player.find(player.player_id).first_name,player.player_id]}, {:include_blank => "Select One"} %> </br>
  </div>
  <div class="field">
    <%= f.label :yellow_cards %>
    <%= f.select :yellow_cards, [0,1,2]%>
  </div>
  <div class="field">
    <%= f.label :red_cards%>
    <%= f.select :red_cards, [0,1] %>

  <div class="field">
    <%= f.label :goals %>
    <%= f.select :goals, Array.new(30){|a| a.to_i } %>
  </div>
  <div class="field">
    <%= f.hidden_field :match_id, value:params[:match] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
