<%= form_for(nominate) do |f| %>
  <% if nominate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nominate.errors.count, "error") %> prohibited this nominate from being saved:</h2>

      <ul>
      <% nominate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player %>
    <%= f.select :player_id,Teamplayer.where('team_id = ?',params[:team]).collect {|x| [Player.find(x.player_id).first_name,x.player_id]}, autfocus: true %>
  </div>
    <%= f.hidden_field :match_id, value:params[:match] %>
    <%= f.hidden_field :team_id, value:params[:team] %>
    <%= f.hidden_field :tournament, value:params[:tournament] %>

  <div class="actions">
    <%= f.submit 'Agregar a nomina'%>
  </div>
<% end %>
