<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  </div>
  <div class="field">
    <%= f.label :local %>
    <%= f.select :local , Tournamentteam.where('tournament_id = ?',params[:tournament]).collect {|team| [Team.find(team.team_id).name,team.team_id]}%>
  </div>
  <div class="field">
    <%= f.label :visitor %>
    <%= f.select :visitor , Tournamentteam.where('tournament_id = ?',params[:tournament]).collect {|team| [Team.find(team.team_id).name,team.team_id]}%>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.select :date , [1,2,3,4,5,6].collect{|x| [x,x]}%>
  </div>
  <div class="field">
    <%= f.hidden_field :tournament_id, value:params[:tournament]%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
