<p id="notice"><%= notice %></p>

<h1><%= Tournament.find(params[:tournament]).name %></h1>
        <% Match.distinct(:date).order(:date).collect do |fecha| %>
        <h2>Fecha <%=fecha.date%></h2>
          <table>
            <thead>
              <tr>
                <th colspan="2"></th>
                <th>Local</th>
                <th>Visitante</th>
                <th colspan="4"></th>
              </tr>
            </thead>
            <body>
          <% Match.where('tournament_id = ?',params[:tournament]).collect do |match|%>
              <% if fecha = match.date %>
                <tr>
                <td><%= link_to 'Agregar planilla',new_nominate_path(match:match.id,team:match.local,tournament:params[:tournament])%>
                <%if Result.exists?(match_id:match.id)%>
                <td><%= Result.find_by(match_id:match.id).local%>
                  <%else%>
                <td colspan="1"></td>
                <%end%>
                <td><%=Team.find(match.local).name%></td>
                <td><%=Team.find(match.visitor).name%></td>
                <%if Result.exists?(match_id:match.id)%>
                <td><%= Result.find_by(match_id:match.id).visitor%>
                  <%else%>
                <td colspan="1"></td>
                <%end%>
                <td><%= link_to 'Agregar planilla',new_nominate_path(match:match.id,team:match.visitor,tournament:params[:tournament])%>
                <td><%= link_to 'Resultado',new_result_path(match:match.id,local:match.local,visitor:match.visitor,tournament:params[:tournament]) %>
                <td><%= link_to 'Incidencias',new_event_path(match:match.id,local:match.local,visitor:match.visitor,tournament:params[:tournament]) %>

              </tr>
              <%end%>
              <%end%>
    <% end %>

<br>
<% if current_player.is_organizer %>
  <td><%= link_to 'New Match', new_match_path(tournament: params[:tournament]) %></td>
<% end %>

<td><%= link_to 'Back',tournament_path(params[:tournament])%></td>
