<%= form_for(teamplayer) do |f| %>
  <% if teamplayer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teamplayer.errors.count, "error") %> prohibited this teamplayer from being saved:</h2>

      <ul>
      <% teamplayer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :player_id%>
    <%= f.select :player_id, Player.all.collect {|x| [x.first_name, x.id]}, {:include_blank => "Select One"} %> </br>
  </div>
  <div class="field">
    <%= f.hidden_field :team_id, value:params[:team]%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
