<!DOCTYPE html>
<html>
  <head>
    <title>ChampionsLiga</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :application %>
  </head>

  <body>

    <div id="user-bar">
      <header>
        <div id="logo">
          <%= link_to root_path do %>
          <img src="https://pbs.twimg.com/profile_images/616969183948054528/mF1Oxcly.jpg"/>
          <% end %>
          </div>

        <% if current_player %>
          <%= render 'layouts/header_player' %>
        <% elsif current_organizer %>
          <%= render 'layouts/header_organizer' %>
        <% else %>
          <%= render 'layouts/header_visitor' %>
        <% end %>
        <hr>
      </header>
    </div>

    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>"><%= flash_message %></div>
        <% end %>
      <% end %>
    </main>
    <%= yield %>
    <footer id=footer>
        <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
