<!DOCTYPE html>
<html>
  <head>
    <title>ChampionsLiga</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :application %>
  </head>

  <body>
    <div id="user-bar">
      <%= render 'layouts/header_player' %>
    </div>
    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>"><%= flash_message %></div>
        <% end %>
      <% end %>
    </main>
    <%= yield %>
  </body>
  <footer id=footer>
      <%= render 'layouts/footer' %>
  </footer>
</html>
