<!DOCTYPE html>
<html>
  <head>
    <title>ChampionsLiga</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="user-bar">
      <header>
        <% if current_player %>
          <%= render 'static_pages/header_player' %>
        <% elsif current_organizer %>
          <%= render 'static_pages/header_organizer' %>
        <% end %>
      </header>
    </div>

    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>"><%= flash_message %></div>
        <% end %>
      <% end %>
    </main>
    <%= yield %>
        <%= render 'layouts/footer' %>
  </body>
</html>
